$color-primary: #427fed;
$color-info: #2196f3;
$color-success: #4caf50;
$color-warning: #ff9800;
$color-error: #f44336;
$color-default: white;

$logo-height: 150px;
$input-height: 50px;
$width: 400px;
$font-normal-color: #666;
$btn-color: white;
$main-color: #2b6;
$shadow-color: rgba(0, 0, 0, .25);

$spacing: 15px;

$img-logo: url('~assets/logo_fff1.png');
$img-user: url('~assets/user.png');
