{
  "globals": {
	"require": true,
	"AuthorizeError": true,
	"expect": true,
	"sinon": true
  },
  "rules": {
	"semi": [
	0,
	"always"
	],
	"no-console": 1,
	"no-unused-vars": 0,
	"no-case-declarations": 1
  },
  "env": {
	"es6": true,
	"node": true,
	"mocha": true,
	"browser": true
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "ecmaFeatures": {
	"experimentalObjectRestSpread": true,
	"jsx": true
  },
  "parser": "babel-eslint"
}
