.topic-two-wrapper {
  background-color: #000;

  p {
    color: #fff;
    font-size: 16px;
    line-height: 42px;
  }
}

.topic-two-content {
  width: 948px;
  margin: 0 auto;
  text-align: center;

  p {
    white-space: pre-wrap;
    padding-bottom: 32px;
  }
}

.topic-two-intro {
  margin-top: 100px;
  margin-bottom: 40px;
}

.topic-two-recommand {
  width: 1000px;
  border-top: 2px dashed #fff;
  margin: 40px auto;
  text-align: center;

  span {
    margin-right: 10px;
  }
}